@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Primary color */
  --color-primary0: #a72f3b;

  /* Tints */
  --color-tint-1: #ffffff;
  --color-tint-2: #f6eaeb;
  --color-tint-3: #edd5d8;
  --color-tint-4: #e5c1c4;
  --color-tint-5: #dcacb1;
  --color-tint-6: #ca8289;
  --color-tint-7: #b59562;

  /* Shades */
  --color-shade-1: #000000;
  --color-shade-2: #110505;
  --color-shade-3: #21090c;
  --color-shade-4: #320e12;
  --color-shade-5: #431318;
  --color-shade-6: #641c23;
  --color-shade-7: #86262f;

  /* Neutral colors */
  --color-neutral-gray1: #f8f8f8;
  --color-neutral-gray2: #f0f0f0;
  --color-neutral-gray3: #ededed;
  --color-neutral-gray4: #d6d6d6;
  --color-neutral-gray5: #cbcbcb;
  --color-neutral-gray6: #afafaf;
  --color-neutral-gray7: #989898;
  --color-neutral-gray8: #656565;
  --color-neutral-gray9: #434343;
  --color-neutral-gray10: #242424;

  /* State colors */
  --color-state-error: #c30000;
  --color-state-error-light: #ed2e2e;
  --color-state-error-bg: #fff2f2;
  --color-state-warning: #a9791c;
  --color-state-warning-light: #f4b740;
  --color-state-warning-bg: #fff8e1;
  --color-state-success: #00966d;
  --color-state-success-light: #00ba88;
  --color-state-success-bg: #f3fdfa;

  /* Font Sizes */
  /* Headings */
  --text-heading1: 44px;
  --text-heading1--line-height: 1.4; /* 140% */
  --text-heading1--font-weight: 700;

  --text-heading2: 40px;
  --text-heading2--line-height: 1.4;
  --text-heading2--font-weight: 700;

  --text-heading3: 32px;
  --text-heading3--line-height: 1.4;
  --text-heading3--font-weight: 700;

  --text-heading4: 24px;
  --text-heading4--line-height: 1.4;
  --text-heading4--font-weight: 700;

  --text-heading5: 20px;
  --text-heading5--line-height: 1.4;
  --text-heading5--font-weight: 700;

  --text-heading6: 18px;
  --text-heading6--line-height: 1.4;
  --text-heading6--font-weight: 700;

  /* Body */
  --text-body1: 20px;
  --text-body1--line-height: 1.8; /* 180% */
  --text-body1--font-weight: 400;

  --text-body2: 18px;
  --text-body2--line-height: 1.8;
  --text-body2--font-weight: 400;

  --text-body3: 16px;
  --text-body3--line-height: 1.8;
  --text-body3--font-weight: 400;

  --text-body4: 14px;
  --text-body4--line-height: 1.8;
  --text-body4--font-weight: 400;

  --text-body5: 12px;
  --text-body5--line-height: 1.8;
  --text-body5--font-weight: 400;

  --text-body-light: 12px;
  --text-body-light--line-height: 1.8;
  --text-body-light--font-weight: 300;

  /* Captions */
  --text-caption1: 14px;
  --text-caption1--line-height: 1.8;
  --text-caption1--font-weight: 700;

  --text-caption2: 12px;
  --text-caption2--line-height: 1.8;
  --text-caption2--font-weight: 400;

  --text-caption3: 10px;
  --text-caption3--line-height: 1.8;
  --text-caption3--font-weight: 700;

  --text-caption4: 10px;
  --text-caption4--line-height: 1.8;
  --text-caption4--font-weight: 400;

  /* Buttons */
  --text-btn1: 16px;
  --text-btn1--line-height: 1.8;
  --text-btn1--font-weight: 500;

  --text-btn2: 14px;
  --text-btn2--line-height: 24px;
  --text-btn2--font-weight: 500;

  /* Overline in design but the correct phrase is line-through on what it actually does */
  --text-linethrough1: 16px;
  --text-linethrough1--line-height: 1.8;
  --text-linethrough1--font-weight: 400;

  --text-linethrough2: 12px;
  --text-linethrough2--line-height: 1.8;
  --text-linethrough2--font-weight: 700;

  /* Underline */
  --text-underline1: 16px;
  --text-underline1--line-height: 1.8;
  --text-underline1--font-weight: 400;

  --text-underline2: 12px;
  --text-underline2--line-height: 1.8;
  --text-underline2--font-weight: 700;

  --text-underline3: 10px;
  --text-underline3--line-height: 1.8;
  --text-underline3--font-weight: 300;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  /* (--color-neutral-gray4: #d6d6d6;) this has been used for input by designers */
  --input: #d6d6d6;
  /* (--color-neutral-gray6: #afafaf;) this has been used for ring by designers */
  --ring: #afafaf;
  /* --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0); */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark,
:root[class~="dark"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Noto Sans Arabic", system-ui, sans-serif;
  }

  h1 {
    @apply text-heading1;
  }
  h2 {
    @apply text-heading2;
  }
  h3 {
    @apply text-heading3;
  }
  h4 {
    @apply text-heading4;
  }
  h5 {
    @apply text-heading5;
  }
  h6 {
    @apply text-heading6;
  }
}
